<template>
  <q-expansion-item
    :expand-separator="children.length === 0"
    :expand-icon="children.length > 0 ? '' : 'none'"
    :icon="icon"
    :label="name"
    :header-inset-level="level"
    :model-value="validateOpen(to)"
    :class="{ active: validateOpen(to), 'has-children': children.length > 0 }"
    @click="navigateTo(to)"
    :group="'menu_' + level"
    :alt="to"
  >
    <template v-for="child in children" :key="child.name">
      <MenuItem
        v-if="children.length > 0"
        v-bind="child"
        :level="level + 0.5"
      ></MenuItem>
    </template>
  </q-expansion-item>
</template>
<script>
import { defineComponent } from "vue";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
  name: "MenuItem",
  props: {
    name: {
      type: String,
      default: '',
    },
    to: {
      type: String,
      default: "#",
    },
    icon: {
      type: String,
      default: '',
    },
    level: {
      type: Number,
      default: 0,
    },
    children: {
      type: Array,
      default: () => [],
    },
  },
  components: {
  },
  setup(props) {
    const router = useRouter();
    const route = useRoute();
    return {
      validateOpen(to) {
        return route.path.startsWith(to + '/') || route.path === to;
      },
      navigateTo(to) {
        if (to && props.children.length === 0) {
          to.startsWith("http") ? window.open(to, "_blank") : router.push(to);
        }
      },
    };
  },
});
</script>
<style lang="scss">
.q-expansion-item.has-children.active > .q-expansion-item__container > .q-item {
  color: $primary;
  font-weight: bold;
  .q-expansion-item__toggle-icon {
    color: $primary-contrast;
  }
}
.q-expansion-item.active:not(.has-children) > .q-expansion-item__container > .q-item {
  background-color: $primary;
  color: $primary-contrast;
}
</style>
