<template>
  <q-list>
    <img id="logo" src="~/assets/images/logo-kidsy.svg" alt="Teko Estudio" />
    <MenuItem
      v-for="item in MENU_LIST"
      :key="item.name"
      v-bind="item"
    />
  </q-list>
</template>

<script>
import {defineComponent} from "vue";
import MenuItem from "components/menu/MenuItem";

const MENU_LIST = [
  {
    name: 'Administración',
    icon: 'settings',
    to: '/administracion',
    children: [
      {
        name: 'Usuarios del sistema',
        to: '/administracion/usuarios',
      }
    ]
  },
];

export default defineComponent({
  name: "Menu",
  components: {
    MenuItem
  },
  setup() {
    return {
      MENU_LIST
    }
  }
});
</script>

<style scoped>
  #logo {
    max-width: 90%;
    max-height: 100px;
    display: block;
    margin: 0.5em auto 1.5em auto;
  }
</style>
