<template>
  <q-page padding class="bg-grey-2">
    <div class="row justify-between items-center q-mb-lg">
      <p class="text-h5">Nuevo usuario</p>
      <div class="q-gutter-x-md">
        <q-btn color="grey-8" outline to="/administracion/usuarios">Regresar</q-btn>
        <q-btn color="positive" type="submit" form="form-usuario">Crear usuario</q-btn>
      </div>
    </div>
    <q-card>
      <q-card-section>
        <FormAdministradores></FormAdministradores>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import TableAdministradores from "components/administradores/TableAdministradores";
import {useSettingsStore} from "src/stores/settings";
import FormAdministradores from "components/administradores/FormAdministradores";

export default {
  name: "NuevoUsuario",
  components: {FormAdministradores},
  setup(){
    const settings = useSettingsStore();
    settings.setTitle('Usuarios del sistema');

    return {
      settings
    }
  }
}
</script>

<style scoped>

</style>
