<template>
  <q-page padding class="bg-grey-2">
    <div class="row justify-between items-center  q-mb-lg">
      <p class="text-h5">{{settings.title}}</p>
      <q-btn color="primary" to="/administracion/usuarios/nuevo">Nuevo usuario</q-btn>
    </div>
      <TableAdministradores></TableAdministradores>
  </q-page>
</template>

<script>
import TableAdministradores from "components/administradores/TableAdministradores";
import {useSettingsStore} from "src/stores/settings";

export default {
  name: "Usuarios",
  components: {TableAdministradores},
  setup(){
    const settings = useSettingsStore();
    settings.setTitle('Usuarios del sistema');

    return {
      settings
    }
  }
}
</script>

<style scoped>

</style>
