<template>
  <q-form
    @submit="onSubmit"
    ref="form"
    id="form-usuario"
  >
    <div class="row q-col-gutter-x-lg q-col-gutter-y-sm">
      <div class="col-12 col-md-6">
        <p class="text-h6">Datos del empleado</p>
        <div class="q-gutter-y-sm">
          <q-input
            v-model="name"
            outlined
            dense
            label="Nombre"
            :rules="[ val => val && val.length > 0 || 'El nombre es requerido']"
          />
          <q-input
            v-model="lastname"
            outlined
            dense
            label="Primer apellido"
            :rules="[ val => val && val.length > 0 || 'El primer apellido es requerido']"
          />
          <q-input
            v-model="lastname_2"
            outlined
            dense
            label="Segundo apellido"
          />
          <q-input
            v-model="telefono"
            outlined
            dense
            class="q-mt-lg"
            label="Teléfono de contacto"
          />
          <q-input
            v-model="email"
            type="email"
            outlined
            dense
            class="q-mt-lg"
            label="Correo"
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <p class="text-h6">Datos del sistema</p>
        <div class="q-gutter-y-sm">
          <q-input
            v-model="username"
            outlined
            dense
            label="Nombre de usuario"
            :rules="[ val => val && val.length > 0 || 'El usuario es requerido']"
          />
          <q-input
            v-model="password"
            outlined
            dense
            label="Contraseña"
            type="password"
            :rules="[ val => val && val.length > 0 || 'La contraseña es requerida']"
          />
          <q-input
            v-model="password_c"
            outlined
            dense
            label="Confirmar contraseña"
            type="password"
            :rules="[
            val => val && val.length > 0 || 'La contraseña es requerida',
            val => val === password || 'Las contraseñas no son iguales'
          ]"
          />
          <q-select
            v-model="role"
            outlined
            dense
            label="Rol del sistema"
            style="margin-top: 4px"
            :options="['Admin','Ventas','Chofer','Cobranza','Almacén','Logística']"
            :rules="[ val => val && val.length > 0 || 'El rol del sistema es requerido']"
          />
        </div>
      </div>
    </div>
  </q-form>
</template>

<script>
import {defineComponent, reactive, toRefs, ref} from 'vue';
import { post } from 'boot/api';
import {Notify} from 'quasar';
import {useRouter} from "vue-router";

export default defineComponent({
  name: 'FormAdministradores',
  emits: ['new'],
  setup(props, {emit}){

    const router = useRouter();

    const form = ref(null);

    const state = reactive({
      name: null,
      lastname: null,
      lastname_2: null,
      telefono: null,
      email: null,
      username: null,
      password: null,
      password_c: null,
      role: null
    });

    function resetForm(){
      state.name = null;
      state.lastname = null;
      state.lastname_2 = null;
      state.telefono = null;
      state.email = null;
      state.username = null;
      state.password = null;
      state.password_c = null;
      state.role = null;
      router.push('/administracion/usuarios');
    }

    async function onSubmit(){
      if(!state.email){
        state.email = `${state.username}@kidsy.com`;
      }
      const data = await post('/administrators/new', {user: state}, 'Generando Usuario');
      if(!data.error) {
        resetForm();
        Notify.create({
          color: 'green-4',
          textColor: 'white',
          icon: 'library_add_check',
          message: data.message
        });
        emit('new', true);
      }
    }

    return {
      form,
      ...toRefs(state),
      onSubmit
    }
  }
})
</script>

<style scoped>

</style>
