<template>
  <q-table
    title="Lista de Usuarios"
    :rows="rows"
    :columns="columns"
    row-key="id"
    :loading="loading"
    :filter="filter"
    :fullscreen="fullscreen"
    :rows-per-page-options="[10,25,50,0]"
    :visible-columns="visibleColumns"
  >
    <template v-slot:top>
      <q-toolbar class="justify-end q-gutter-x-md">
        <q-input placeholder="Buscar..." outlined dense debounce="300" color="primary" v-model="filter">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-select
          v-model="visibleColumns"
          multiple
          outlined
          dense
          options-dense
          display-value="Columnas visibles"
          emit-value
          map-options
          :options="columns"
          option-value="name"
          options-cover
        />
        <q-btn icon="refresh" flat @click="update" />
        <q-btn :icon="fullscreen ? 'close' : 'fullscreen'" :color="fullscreen ? 'negative' : 'dark'" flat @click="toggleFullscreen" />
      </q-toolbar>
    </template>
    <template v-slot:body-cell-estatus="props">
      <q-td :props="props" :class="props.row.estatus">
        {{props.row.estatus}}
      </q-td>
    </template>
    <template v-slot:body-cell-actions="props">
      <q-td :props="props">
        <q-btn-dropdown dropdown-icon="more_horiz" flat>
          <q-list>
            <q-item clickable v-close-popup :to="`/administracion/usuarios/editar/${props.row.id}`">
              <q-item-section>
                <q-item-label>
                  <q-icon name="edit" size="1em" class="q-mr-sm" /> Editar
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="triggerActive(props.row)" :class="props.row.estatus === 'Activo' ? 'Inactivo' : 'Activo'">
              <q-item-section>
                <q-item-label>
                  <q-icon :name="(props.row.estatus === 'Activo') ? 'person_off' : 'how_to_reg'" size="1em" class="q-mr-sm" />
                  {{(props.row.estatus === 'Activo') ? 'Desactivar' : 'Activar'}}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="remove(props.row)" class="text-red">
              <q-item-section>
                <q-item-label>
                  <q-icon name="edit" size="1em" class="q-mr-sm" /> Eliminar usuario
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-td>
    </template>
  </q-table>
</template>

<script>
import {defineComponent, reactive, toRefs, watch} from "vue";
import {post} from "boot/api";
import {Notify, Dialog} from "quasar";

const columns = [
  { name: 'id', label: 'ID', field: 'id', align: 'left' },
  { name: 'name', label: 'Nombre del empleado', field: 'full_name', align: 'left' },
  { name: 'role', label: 'Rol del sistema', field: 'role', align: 'left' },
  { name: 'username', label: 'Usuario', field: 'username', align: 'left' },
  { name: 'telefono', label: 'Teléfono', field: 'telefono', align: 'left' },
  { name: 'email', label: 'Correo electrónico', field: 'email', align: 'left' },
  { name: 'estatus', label: 'Estatus del empleado', field: 'estatus', align: 'left' },
  { name: 'actions', label: 'Acciones', align: 'center'}
];

export default defineComponent({
  name: "TableAdministradores",
  props: {
    refresh: {
      type: Boolean,
      default: true
    }
  },
  setup(props, {emit}){

    const state = reactive({
      rows: [],
      loading: false,
      filter: null,
      visibleColumns: columns.map(c => c.name),
      fullscreen: false
    });

    async function update(){
      state.loading = true;
      const params = {
        config: {
          current_page: 1,
          per_page: 0,
          order: 'ASC'
        }
      }
      const data = await post('/administrators/get-all', params, false);
      if(!data.error) {
        state.rows = data.rows;
      }
      state.loading = false;
      emit('update:refresh', false);
    }

    async function remove(user) {
      Dialog.create({
        title: 'Eliminar usuario',
        message: `¿Desea eliminar definitivamente al usuario ${user.username}?`,
        ok: {
          label: 'Confirmar',
          color: 'negative'
        },
        cancel: {
          label: 'Cancelar',
          color: 'grey'
        }
      }).onOk(async () => {
        const params = {
          id_user: user.id,
          confirm: true
        };
        state.loading = true;
        const data = await post('/administrators/delete', params, false);
        if(!data.error) {
          Notify.create({
            color: 'green-4',
            textColor: 'white',
            icon: 'person_remove',
            message: data.message
          });
          update();
        }
        state.loading = false;
      })
    }

    async function triggerActive(user) {
      Dialog.create({
        title: (user.estatus === 'Activo') ? 'Desactivar usuario' : 'Activar usuario',
        message: `¿Desea ${(user.estatus === 'Activo' ? 'desactivar' : 'activar')} al usuario ${user.username}?`,
        ok: {
          label: 'Confirmar',
          color: 'negative'
        },
        cancel: {
          label: 'Cancelar',
          color: 'grey'
        }
      }).onOk(async () => {
        const params = {
          id_user: user.id
        };
        state.loading = true;
        const data = await post('/administrators/delete', params, false);
        if(!data.error) {
          Notify.create({
            color: 'green-4',
            textColor: 'white',
            icon: 'person',
            message: data.message
          });
          update();
        }
        state.loading = false;
      })
    }

    function toggleFullscreen(){
      state.fullscreen = !state.fullscreen;
    }

    update();

    watch(() => props.refresh, (refresh) => {
      if(refresh){
        update();
      }
    });


    return {
      columns,
      ...toRefs(state),
      update,
      remove,
      triggerActive,
      toggleFullscreen
    }
  }
});
</script>

<style lang="scss" scoped>
  .Activo {
    color: $positive;
  }
  .Inactivo {
    color: $warning;
  }
</style>
