<template>
  <q-page class="column flex-center">
    <img
      alt="Kidsy"
      src="~assets/images/logo-kidsy.svg"
      style="width: 200px; height: 200px"
      class="q-mb-lg"
    />

  </q-page>
</template>

<script>
import {defineComponent, reactive, toRefs} from "vue";

export default defineComponent({
  name: "PageIndex",
  setup(){

    const state = reactive({})

    return {
      ...toRefs(state)
    }
  }
});
</script>

<style>
  .with-border {
    border: 1px solid #cccccc;
  }
</style>
