// app global css in SCSS form
.dialog-error {
  .q-dialog__title {
    color: $negative;
  }
  border: 2px solid $negative;
}

.dialog-success {
  .q-dialog__title {
    color: $positive;
  }
  border: 2px solid $positive;
}

.dialog-warning {
  .q-dialog__title {
    color: $warning;
  }
  border: 2px solid $warning;
}
