<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleMenu"
        />

        <q-toolbar-title> {{settings.title}} </q-toolbar-title>

        <div @click="user.logout">Bienvenido {{user.user.email}}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="menuOpen" bordered elevated>
      <Menu></Menu>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import { defineComponent, ref } from "vue";
import {useUserStore} from "stores/user";
import {useSettingsStore} from "stores/settings";
import Menu from "components/menu/Menu";

export default defineComponent({
  name: "MainLayout",

  components: {
    Menu,
  },

  setup() {
    const menuOpen = ref(false);

    const userStore = useUserStore();
    const settings = useSettingsStore();

    function logout(){
      userStore.logout();
    }

    function toggleMenu() {
      menuOpen.value = !menuOpen.value;
    }

    return {
      menuOpen,
      toggleMenu,
      logout,
      user: userStore,
      settings
    };
  },
});
</script>
