<template>
  <q-layout view="lHh Lpr lFf"> <!-- lHh Lpr lFf -->

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: 'Users',
  setup () {
  }
});
</script>
