<template>
  <q-page padding class="column flex-center bg-grey-4">
    <q-card style="min-width: 30vw">
      <q-card-section class="column items-center">
        <img id="logo" src="~assets/images/logo-kidsy.svg" alt="Teko Estudio">
        <q-form
          @submit="onSubmit"
          class="q-gutter-md full-width q-my-md"
        >
          <q-input
            v-model="username"
            label="Nombre de usuario o correo"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa tu nombre de usuario o correo']"
          />

          <q-input
            v-model="pass"
            label="Contraseña"
            type="password"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa tu contraseña']"
          />

          <q-btn class="full-width" label="Ingresar" type="submit" color="primary"/>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import {defineComponent, reactive, toRefs} from "vue";
import {useUserStore} from "src/stores/user";

export default defineComponent({
  name: 'Login',
  setup() {

    const userStore = useUserStore();

    const state = reactive({
      username: '',
      pass: ''
    });

    async function onSubmit() {
      await userStore.login(state);
    }

    return {
      ...toRefs(state),
      onSubmit
    }
  }
});
</script>

<style lang="scss" scoped>
  #logo {
    width: 40%;
  }
</style>
